<form action="/genres/add" method="post">
  <div class="genres-form">
    <div class="field">
      <label for="name">Genre name</label>
      <input type="text" name="genreName" id="name" placeholder="Enter genre Name">
    </div>
    <button type="submit">Submit</button></div>
</form>