<a href="/genres/add">Add Genre</a>
<div class="games-container">
  <% params.genres.forEach(genre => { %>
    <a class="genre-card" href="/genres/info/<%= genre.genre_id %>">
      <p><%= genre.genre_name %></p>
    </a>
  <% }) %>
</div>
