<a class="add-btn" href="/genres/add">Add Genre</a>
<div class="genres-container">
  <% params.genres.forEach(genre => { %>
    <% if(locals.toggle) { %>
    <%- include(views.genreToggleCard, {genre: genre}) %>
    <% } else { %>
    <%- include(views.genreLinkCard, {genre: genre}) %>
  <% }}) %>
</div>
