<a href="/genres/add">Add Genre</a>
<div class="games-container">
  <% params.genres.forEach(genre => { %>
  <div class="game-card">
    <p><%= genre.genre_name %></p>
    <a href="/genres/delete/<%- genre.genre_id %>">Delete</a>
  </div>
  <% }) %>
</div>
