<div class="heading-success">
  <p><%= message %></p>
  <button onclick="closeError(event)">X</button>
  <script>
    function closeError(e) {
      e.target.parentElement.remove();
    }
  </script>
</div>