<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oxide Games</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="messages-container">
        <% if(locals.successes?.length > 0) { %> 
          <% successes.forEach(success => { %>
          <%- include(views.headingSuccess, {message: success.msg}) %>
        <% }) %>
        <% } %>
        <% if(locals.errors?.length > 0) { %> 
          <% errors.forEach(error => { %>
          <%- include(views.headingError, {message: error.msg}) %>
        <% }) %>
        <% } %>
      </div>
      <header class="header">
        <nav class="nav">
          <h1>Oxide Games</h1>
          <a class="button" href="/games/add">Add Game</a>
        </nav>
      </header>
      <main class="content"><%- include(locals.page, {params: params}) %></main>
      <aside class="side-panel">
        <a href="/home">Home</a>
        <a href="/games">All Games</a>
        <a href="/genres">All Genres</a>
        <a href="/studios">All Studios</a>
      </aside>
    </div>
  </body>
</html>
