<form action="/studios/add" method="post">
  <input type="text" name="studioName" placeholder="Enter studio Name">
  <input type="text" name="logoUrl" placeholder="Studio's logo URL">
  <button type="submit">Submit</button>
</form>