<div class="studio-card popping-item" class="false">
  <img src="<%= studio.logo_url %>" alt="" width="100px">
  <p class="name"><%= studio.studio_name %></p>
  <span aria-hidden="true" style="display: none;" class="id"><%= studio.studio_id %></span>
</div>