<a href="/studios/add">Add Studio</a>
<div class="games-container">
  <% params.studios.forEach(studio => { %>
  <a href="/studios/info/<%= studio.studio_id %>" class="studio-card">
    <p><%= studio.studio_name %></p>
  </a>
  <% }) %>
</div>
