<a class="add-btn" href="/studios/add">Add Studio</a>
<div class="studios-container">
  <% params.studios.forEach(studio => { %>
    <% if(locals.toggle) { %>
      <%- include(views.studioToggleCard, {studio: studio}) %>
    <% } else { %>
      <%- include(views.studioLinkCard, {studio: studio}) %>
    <% } %>
  <% }) %>
</div>
