<h3>Top Games</h3>
<%- include(locals.views.gamesList, {params: params}) %>
<h3>Trending Genres</h3>
<%- include(locals.views.genresList, {params: params}) %>
<h3>Best Studios</h3>
<%- include(locals.views.studiosList, {params: params}) %>
