<a href="/games/add">Add game</a>
<div class="games-container">
  <% params.games.forEach(game => { %>
  <a href="/games/info/<%= game.game_id %>" class="game-card">
    <p><%= game.title %></p>
  </a>
  <% }) %>
</div>
